@* UserProfileCard.razor *@
@namespace SmartStudy.Components.Pages
@using SmartStudy.Components.Pages.Class

<div class="user-profile-card">
    <div class="profile-header">
        <img src="@(string.IsNullOrWhiteSpace(ProfileImageUrl) ? "/profile_pictures/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg" : ProfileImageUrl)" alt="Profile Picture" class="profile-image" onerror="this.onerror=null;this.src='/profile_pictures/default-profile-account-unknown-icon-black-silhouette-free-vector.jpg';">
        <h3 class="user-name">@UserName</h3>
        @if (!string.IsNullOrWhiteSpace(UserTitle))
        {
            <p class="user-title">@UserTitle</p>
        }
    </div>
    <div class="profile-actions">
        <button class="action-button-main" @onclick="OpenAssignmentsPage">
            Assignments
        </button>
        <button class="action-button-secondary" @onclick="InvokeViewProfile" title="View Profile">
            <i class="bi bi-person icon" aria-label="Profile"></i>
        </button>
            <button class="action-button-secondary" @onclick="OpenAssignmentsPage" title="Go to Assignment">
                <i class="bi bi-journal-text icon" aria-label="Assignment"></i>
            </button>
    </div>
</div>