@inherits LayoutComponentBase

<div class="page">
    <header class="app-header">
        <NavLink class="home-btn" href="/">Home</NavLink>
        <h1 class="brand">SmartStudy</h1>
    </header>
    <main style="width:100%">
        <article class="content px-4">
            @Body
        </article>
    </main>
    
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
