@page "/{userId}/ClassList"

@using SmartStudy.Components.Pages.ClassList

<div class="container mt-4">
	<h1 class="mb-4">My Classes</h1>

	<div class="row g-4">
		@foreach (var c in _mockClasses)
		{
			<div class="col-12 col-md-6 col-lg-4">
				<ClassItem Id="@c.Id" Name="@c.Name" Teacher="@c.Teacher" Color="@c.Color" OnOpen="NavigateToClass" />
			</div>
		}
	</div>
</div>